.container-fluid {
    margin-left: auto;
}

.navbar-nav{
    margin-left: auto;
}

.nav-item {
    
    border: solid;
    border-color: black;
    background-color: darkgray;
    border-radius: 25px;
    text-decoration-color: blanchedalmond;
}



.nav-link:hover{

    border:solid;
    background-color:white;
    border-radius: 25px;
    font-size: 10px;
    text-decoration: underline;

}

.navbar-brand{
    color:white;
}

